################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Practica 4/Practica 4.zip
/Practica 4/Practica 4/.vs/Practica 4/v15/Browse.VC.opendb
